/* font */

@import url("https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root {
  --main-color: #dd8e28;
  --second-color: #991285;
}

section {
  padding: 50px 10%;
}
*::selection {
  color: #fff;
  background: var(--main-color);
}

img {
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 41px rgb(14, 55, 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
}

.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: var(--second-color);
  font-weight: 600;
  text-transform: uppercase;
}
.navbar a:hover {
  color: var(--main-color);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}
.home {
  width: 100%;
  min-height: 88.5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 0;
  gap: 1rem;
  z-index: 10;
}
.home .bg {
  background: url(background2.png);
  background-size: cover;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ebdbc8;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.home-text {
  flex: 1 1 17rem;
}
.home-img {
  flex: 1 1 17rem;
}
.home-img img {
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(-0px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}
.home-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(250, 210, 137);
  font-style: italic;
}
.home-img h1 {
  font-size: 3.2rem;
  color: rgb(250, 210, 137);
  font-weight: bolder;
  font-style: italic;
}
.home-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(250, 210, 137);
  text-transform: uppercase;
  margin: 0.5rem 0 1.4rem;
  font-style: italic;
}
.btn {
  padding: 7px 16px;
  border: 2px solid var(--main-color);
  border-radius: 40px;
  color: var(--main-color);
  font-weight: 500;
}
.btn:hover {
  color: #fff;
  background: var(--main-color);
}
.shop-content .heading {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(161, 109, 14, 1);
}
.shop-content .heading span {
  font-size: 2rem;
  font-weight: 1000;
  color: rgba(161, 109, 14, 1);
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid rgba(161, 109, 14, 1);
}
.shop-content .heading h1 {
  font-size: 2rem;
  color: rgba(161, 109, 14, 1);
  text-shadow: 1px 1px 1px black;
}

.shop-content,
.gallary {
  background-color: #ebdbc8;
  padding: 100px 100px;
}
.shop-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2.5rem;
}
.shop-container .box {
  flex: 1 1 10rem;
  background: var(--main-color);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}
.shop-container .box .box-img {
  width: 150px;
  height: 150px;
  margin-top: -100px;
}
.shop-container .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.stars {
  margin: 1rem 0 0.1rem;
}
.shop-container .box .stars .bx {
  color: #ebdbc8;
}
.shop-container .box h2 {
  color: #ebdbc8;
  font-size: 1.2rem;
}
.shop-container .box span {
  color: #ebdbc7;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem;
}
.box .btn {
  border: 2px solid #ebdbc7;
  color: #ebdbc8;
}
.box .btn:hover {
  background: #ebdbc8;
  color: var(--second-color);
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.delivery {
  background-color: #ebdbc8;
}
.delivery .heading {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #dd8e28;
}
.delivery .heading span {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(161, 109, 14, 1);
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid rgba(161, 109, 14, 1);
}
.delivery .heading h1 {
  font-size: 2rem;
  color: rgba(161, 109, 14, 1);
  text-shadow: 1px 1px 1px black;
}
#gallary {
  background-color: #dd8e28;
}
.delivery-img,
.gallary-img {
  flex: 1 1 21rem;
}
.delivery-text,
.gallary-text {
  flex: 1 1 21rem;
}
.delivery-text h2,
.gallary-text h2 {
  font-size: 1.2rem;
}
.delivery-text p,
.gallary-text p {
  margin: 0.5em 0 1rem;
  text-align: justify;
  font-weight: bold;
}
/* about */
#about {
  background-color: #ebdbc8;
  padding: 50px 0;
}
#about h1 {
  width: 100%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: rgba(161, 109, 14, 1);
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#about .card {
  background-color: rgba(161, 109, 14, 1);
  box-shadow: 0px 0px 5px black;
}
#about p {
  color: rgb(65, 63, 61);
}
#bt button {
  width: 150px;
  height: 32px;
  letter-spacing: 3px;
  background-color: rgba(161, 109, 14, 1);
  color: white;
  border: none;
  cursor: pointer;
}
@media (max-width: 1000px) {
  #about p {
    font-size: 10px;
  }
  .contact .form {
    max-width: 80%;
    width: 100%;
  }
  .group {
    display: none;
  }
}
@media (max-width: 760px) {
  #about p {
    font-size: 20px;
  }

  .contact .form {
    max-width: 100%;
    width: 100%;
  }
}
/* about */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social a {
  font-size: 27px;
  margin: 0.5rem;
}
.social a .bx {
  padding: 5px;
  color: #fff;
  background: #000000;
  border-radius: 50px;
}
.social a .bx:hover {
  background: var(--main-color);
}
.links {
  margin: 1rem o 1rem;
}
.links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--second-color);
  padding: 1rem;
}
.links a :hover {
  color: var(--second-color);
}
.contact p {
  text-align: center;
}
@media (max-width: 1159px) {
  header {
    padding: 18px 7%;
  }
  section {
    padding: 50px 7%;
  }
  .home-text h1 {
    font-size: 3rem;
  }
  .home-text h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 001px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 768px) {
  header {
    padding: 11x 4%;
  }
  #menu-icon {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px rgb(14, 55, 54 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    color: var(--second-color);
  }
  .home-text span {
    font-size: 0, 9rem;
  }
  .home-text h1 {
    font-size: 2.4rem;
  }
  .home-text h2 {
    font-size: 1.2rem;
    font-style: italic;
  }
  @media (max-width: 768px) {
    .home-text {
      padding-top: inherit;
    }
  }
  .shop-container .box {
    margin-top: 6rem;
  }
  .heading h1 {
    font-size: 1.5rem;
  }
  .heading span {
    font-size: 0.9rem;
  }
  .about {
    flex-direction: column-reverse;
  }
}
@media (max-width: 364px) {
  .links {
    display: flex;
    flex-direction: column;
  }
}
/* top card */
#box {
  margin-top: 50px;
}
#box .card {
  box-shadow: 0px 0px 5px #000000;
  margin-top: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
#box .card:hover {
  transform: translateY(-10px);
}
/* top card end */

/* banner */
.banner {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(banner2.png);
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px black;
  padding: 50px 0;
}
.banner .img {
  flex: 1 1 400px;
}
.banner .img img {
  width: 100%;
}
.banner .content {
  flex: 1 1 400px;
  margin-left: 60px;
}
.banner .content h3 {
  color: rgb(250, 210, 137);
  font-weight: bold;
}
.banner .content h2 {
  font-size: 50px;
  color: rgb(250, 210, 137);
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.banner .content p {
  color: rgb(250, 210, 137);
}

#btnorder button {
  width: 150px;
  height: 32px;
  letter-spacing: 5px;
  background-color: rgba(161, 109, 14, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .banner .content h3 {
    font-size: 50px;
  }
}
@media (max-width: 855px) {
  .banner {
    height: 100vh;
  }
}
/* banner end */

/* gallary */
#gallary {
  background-color: #ebdbc8;
}
#gallary h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  color: rgba(161, 109, 14, 1);
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#gallary .card {
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
}
#gallary .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.445);
  text-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gallary .card:hover .overlay {
  opacity: 5;
  transition: 0.5s ease;
}
/* contact */
#contact {
  background-color: #ebdbc8;
}

.contact .form {
  max-width: 60%;
  width: 100%;
}

#contact h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  color: rgba(161, 109, 14, 1);
  text-shadow: 1px 1px 1px black;
  border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#contact input {
  background-color: rgba(161, 109, 14, 1);
}
#contact input::placeholder {
  color: white;
}
#contact textarea {
  background-color: rgba(161, 109, 14, 1);
}
#contact textarea::placeholder {
  color: rgb(255, 255, 255);
}
#messagebtn {
  text-align: center;
}
#messagebtn button {
  width: 200px;
  height: 30px;
  letter-spacing: 3px;
  font-weight: bold;
  background: transparent;
  border: 2px solid white;
  color: rgb(121, 34, 95);
  transition: 0.5s;
  cursor: pointer;
}
#messagebtn button:hover {
  background-color: rgb(250, 182, 55);
}
/* contact */

/* footer */
#footer {
  width: 100%;
  background-color: #573818;
  box-shadow: 0px 0px 5px black;
}
#footer h1 {
  color: white;
  padding-top: 30px;
}
#footer p {
  color: white;
}
.icons i {
  background-color: white;
  color: #573818;
  border-radius: 50px;
  padding: 6px;
  font-size: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.icons i:hover {
  background-color: rgba(161, 109, 14, 1);
  color: white;
}
.copyright {
  color: white;
  margin-top: 20px;
}
.credite {
  color: white;
}
/* footer */
html {
  scroll-behavior: smooth;
}
.arrow {
  position: fixed;
  background-color: rgba(161, 109, 14, 1);
  border-radius: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}

.swiper {
  width: 600px;
  height: 300px;
}

.group {
  overflow: hidden;
  border-radius: 4px;
}

.group .card img {
  transform: scale(1);
  transition: 0.5s;
}
.group:hover .card img {
  transform: scale(1.1);
}
